.modal-content {
  border-radius: 10px;
  height: 450px;
  width: 350px;
  position: absolute;
  bottom: 50px;
  right: -65%;
  padding: 2px;
}
.search {
  border-radius: 10px !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 0 !important;
  color: var(--Accent-Main) !important;
  font-weight: 500;
  z-index: 6;
  margin: auto;
  font-size: 18px;
}
.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
